<h1>Home Page</h1>

<% if auth_authenticated? %>
  <p><%= auth_current_user %></p>
    <a href="/logout">Logout</a>
<% else %>
  <p>You are not authenticated</p>
  <a href="/login">Login</a>
<% end %>